<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <h1 class="text-center"><%= title %></h1>

    <form method="post" action="/categories/createCategorie" class="text-center">
        Nom de la catégorie <input type="text" name="nom">
        Description <input type="text" name="description">
  
        <input type="submit" value="Ajouter">
      </form>
      
      <% if (succes) { %>
        <h1><%= succes %></h1>
      <% } %>
  </body>
</html>