<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <%- include header.ejs %>
    <h1 class="text-center mt-4"><%= title %></h1>

    <form method="post" action="/categories/createCategorie">
      <div class="row justify-content-center mt-4">
          <div class="col-md-5 form-group">
            <label for="nom" class="control-label">Nom de la catégorie</label>
            <input class="form-control" type="text" name="nom" id="nom" placeholder="Nom de la catégorie" required>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-md-5 form-group">
            <label for="description" class="control-label">Description de la catégorie</label>
              <textarea  class="form-control" type="text" name="description" id="description" placeholder="Description de la catégorie" rows="4" required></textarea>
          </div>
      </div>

      <div class="row justify-content-center">
          <input class="btn btn-primary" type="submit" value="Ajouter">
      </div>
      </form>

      <% if (succes) { %>
        <h3 class="col-md-4" ><%= succes %></h3>
      <% } %>
  </body>
</html>
