<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <span class="navbar-brand">EILCO Stock Manager</span>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item menuItem">
            <a class="nav-link headerNav" href="/stock/list">Consulter les stocks</a>
          </li>

          <li class="nav-item menuItem">
            <a class="nav-link headerNav" href="/ventes/list">Consulter les ventes</a>
          </li>

          <li class="nav-item menuItem">
            <a class="nav-link headerNav" href="/categories/createCategorie">Renseigner une catégorie</a>
          </li>

          <li class="nav-item menuItem">
            <a class="nav-link headerNav" href="/stock/createProduct">Renseigner un produit</a>
          </li>

          <li class="nav-item menuItem">
            <a class="nav-link headerNav" href="/ventes/createVente">Renseigner une vente</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>