<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <%- include header.ejs %>
    <div class="container centerDiv mt-4">
      <h5>Bienvenue sur le gestionnaire de stock du magasin</h5>

      <br/><br/>

      <span>Ventes totales effectuées : <span id="countVentes"></span> </span>
    </div>
  </body>
</html>
