<!DOCTYPE html>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<html>
  <head>

    <title ><%= title %></title >
      
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/bootstrap.min.css' rel="stylesheet"/>

  </head>
  <body>
    <%- include header.ejs %>
    <div class="row mt-4">
      <h2 class="col text-center"><%= title %></h2>
    </div>
    <div class="row mt-4">
      <p class="col text-center">Liste des produits</p>
    </div>
    <div class="col-md-10" style="margin: auto;">
      <table class="table table-bordred table-striped">
          <thead>
              <tr>
                  <th>Identifiant</th>
                  <th>Nom</th>
                  <th>Catégorie</th>
                  <th>Prix</th>
                  <th>Stock</th>
                  <th class="text-center">Modifier</th c>
                  <th class="text-center">Supprimer</th>
              </tr>
          </thead>
          <tbody>
            <% listeProduit.forEach(function(produit) { %>
              <tr>
                <td><%= produit.id %> </td>
                <td><%= produit.nom %> </td>
                <td><%= produit.categorie %> </td>
                <td><%= produit.prix %> €</td>
                <td><%= produit.stock %> </td>
                <td class="text-center"><a href="/stock/update/<%= produit.id %>/<%= produit.nom %>/<%= produit.categorie %>/<%= produit.prix %>/<%= produit.stock %>"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                  <img src="/img/pencil.svg" style="height:18px ; width: 18px;">
                </button></p></td>
                <td class="text-center"><a href="/stock/suppress/<%= produit.id %>"><button  class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><img src="/img/trash.svg" style="height:18px ; width: 18px; "></button></a></td>
            </tr>
          <% }); %>  
          </tbody>
      </table>
  </body>
</html>
