<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <%- include header.ejs %>
    <h1 class="mt-4 text-center"><%= title %></h1>
    <form method="post" action="/stock/createProduct">
      <div class="row justify-content-center mt-4">
          <div class="col-md-5 form-group">
            <label for="nom" class="control-label">Nom du Produit</label>
            <input class="form-control" type="text" name="nom" id="nom" placeholder="Nom du produit" required>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-5 form-group">

            <label for="nom" class="control-label">  Catégorie du produit </label>
            <SELECT name="categorie" size="1" class="form-control" required>

              <% listeCategorie.forEach(function(categorie) { %>
                <OPTION> <%= categorie %> </OPTION>>
              <% }); %>

            </SELECT>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 form-group">
          <label for="prix" class="control-label">Prix du produit</label>
            <input class="form-control" type="number" name="prix" id="prix" placeholder="Prix du produit" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 form-group">
          <label for="idStock" class="control-label">Id Stock</label>
            <input class="form-control" type="number" name="idStock" id="idStock" placeholder="Id du stock" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 form-group">
            <label for="quantite" class="control-label">Quantité</label>
            <input class="form-control" type="number" name="quantite" id="quantite" placeholder="Quantite" required>
        </div>
      </div>
      <div class="row justify-content-center">
          <input class="btn btn-primary" type="submit" value="Ajouter">
      </div>
      </form>

      <% if (succes) { %>
        <h3 class="col-md-4" ><%= succes %></h3>
      <% } %>
  </body>
</html>
