<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <%- include header.ejs %>
    <h1 class="text-center mt-4"><%= title %></h1>

    <form method="post" action="/ventes/createVente">
        <div class="row justify-content-center mt-4">
          <div class="col-md-3 form-group">
              <label for="idProd" class="control-label">Id du produit</label>
              <input class="form-control" type="number" name="idProd" id="idProd" placeholder="Id du produit" required>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-3 form-group">
              <label for="quantite" class="control-label">Quantité du produit</label>
              <input class="form-control" type="number" name="quantite" id="quantite" placeholder="Quantité du produit" required>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-3 form-group">
              <label for="prix" class="control-label">Prix total</label>
              <input class="form-control" type="number" name="prix" id="prix" placeholder="prix" required>
          </div>
        </div>

        <div class="row justify-content-center">
          <input class="btn btn-primary" type="submit" value="Ajouter">
        </div>
      </form>

      <% if (succes) { %>
        <h3 class="col-md-4" ><%= succes %></h3>
      <% } %>
  </body>
</html>
