<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap.min.css' />
  </head>
  <body>
    <%- include header.ejs %>
    <p>Consulter les stocks</p>

  </body>
</html>
