<!DOCTYPE html>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<html>
  <head>

    <title ><%= title %></title >
      
    <link rel='stylesheet' href='/stylesheets/style.css' />  
    <link rel='stylesheet' href='/bootstrap.min.css' rel="stylesheet"/>

  </head>
  <body>
    <%- include header.ejs %>
    <div class="row mt-4">
      <h2 class="col text-center"><%= title %></h2>
    </div>
    <div class="row mt-4">
      <p class="col text-center">Liste des ventes</p>
    </div>
    <div class="col-md-10" style="margin: auto;">
      <table class="table table-bordred table-striped">
          <thead>
              <tr>
                  <th>Identifiant</th>
                  <th>Nom du produit</th>
                  <th>Quantité</th>
                  <th>Date de vente</th>
                  <th>Prix total</th>
                  <th class="text-center">Modifier</th>
                  <th class="text-center">Supprimer</th>
              </tr>
          </thead>
          <tbody>
            <% listeVente.forEach(function(vente) { %>
              <tr>
                <td><%= vente.id %> </td>
                <td><%= vente.nom %> </td>
                <td><%= vente.quantite %> </td>
                <td><%= vente.dateVente %> </td>
                <td><%= vente.prix %> €</td>
                <td class="text-center"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                  <img src="/img/pencil.svg" style="height:18px ; width: 18px;">
                </button></p></td>
                <td class="text-center"><a href="/ventes/suppress/<%= vente.id %>"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><img src="/img/trash.svg" style="height:18px ; width: 18px; "></button></a></td>
            </tr>
          <% }); %>  
          </tbody>
      </table>
  </body>
</html>
