body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f7f7f7;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
}

#navbarResponsive {
  position: absolute;
  right: 0;
}

.headerNav {
  color: #0a0a0a;
  text-decoration: none;
}

.menuItem {
    list-style-type: none;
}

.mx-background-top-linear {
  background: -webkit-linear-gradient(45deg, #1E90FF 20%, #1b1e21 48%);
  background: -webkit-linear-gradient(left, #1E90FF 20%, #1b1e21 48%);
  background: linear-gradient(45deg, #1E90FF 20%, #1b1e21 48%);
}

.centerDiv {
  text-align: center;
}